$yellow: #fffd87;
$red: #ff0400;
$green: #00ff2a;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddings($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 20px);
}

footer {
	@include paddings(10px, 10px, 0px, 10px);
	background-color: $yellow;
	@include margenes(20px, 0px);
}

.footer-address-icon {
	padding-right: 10px;
}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
}	

.tab-content {
	padding-top: 10px;
}