.jumbotron {
  background-color: #fffd87;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #fffd87;
  margin-top: 20px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%; }

.tab-content {
  padding-top: 10px; }
